body{
    margin: 0;
}
nav{
    position: fixed;
    background-color: rgb(190, 57, 84);
    color: white;
    font-family:Poppins,sans-serif;
    font-size:x-large;
    font-weight: 700;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 2;
    
}
header{
    width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    background-image:url(../photos/pexels-leeloothefirst-5386754\ —\ kopia.jpg);
    color: white;
    font-family:Poppins,sans-serif;
    font-size:x-large;

}
header::before {
    content: "";
    display: block;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5568627451);
    position: absolute;
    margin: 0;
  }
  h1 {
    font-weight: normal;
    text-align: center;
    padding: 10px;
    z-index: 1;
    font-size: 2.8rem;
  }
iframe{
    width: 100%;
    height: 100vh;
}
footer{
    background-color: rgb(190, 57, 84);
}
.kontakt{
    padding-top:20px ;
    padding: 30px;
    display: flex;
    justify-content: center;
    color: white;
    font-family:Poppins,sans-serif;
    font-size: small;
    font-weight: 200;
    font-style: italic;

}